In [ ]:
# Wap to create a biling system
# name 
# price
# quantity
# total

# all total

In [3]:
n=int(input("Enter the value of n:"))
all_total = 0
bill=str()
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    all_total = all_total + total
    bill=bill + name+" "+str(price)+" "+str(quantity) +" "+str(total)+"\n"
    
print(bill)
print(all_total)

Enter the value of n:2
Enter name:apple
Enter the price:250
Enter the quantity:2
Enter name:mango
Enter the price:1
Enter the quantity:2
apple 250 2 500
mango 1 2 2

502

In [9]:
n=int(input("Enter the value of n:"))
all_total = 0
bill=str()
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    all_total = all_total + total
    bill=bill+ name+" "+str(price)+" "+str(quantity) +" "+str(total)+"\n"
    
print(bill)
print("Total bill = ",all_total)

Enter the value of n:3
Enter name:app
Enter the price:250
Enter the quantity:2
Enter name:banana
Enter the price:100
Enter the quantity:2
Enter name:mango
Enter the price:200
Enter the quantity:2
app 250 2 500
banana 100 2 200
mango 200 2 400

Total bill =  1100

In [ ]:
# Wap to create a result management systemof user
# name
# subjects(physics, chem)
# total
# percentage
# grade

In [1]:
name=input("Enter the name of Student:")
s1=int(input("Enter the marks of physics:"))
s2=int(input("Enter the mark of chemistry:"))
t=s1+s2
p=t/2
print("Name=",name)
print("Total=",t)
print("Percentage=",p)

if p>=90:
    print("Grade=","A+")
elif p>=80 and p<=90:
    print("Grade=","A")
elif p>=70 and p<=80:
    print("Grade=","B+")
elif p>=60 and p<=70:
    print("Grade=","B")
elif p>=50 and p<=60:
    print("Grade=","C") 
elif p>=40 and p<=50:
    print("Grade=","D+")  
else:
    print("Grade=","Fail")

Enter the name of Student:RAm
Enter the marks of physics:67
Enter the mark of chemistry:67
Name= RAm
Total= 134
Percentage= 67.0
Grade= B

In [9]:
name=input("Enter the name of Student:")
s1=int(input("Enter the marks of physics:"))
s2=int(input("Enter the mark of chemistry:"))
t=s1+s2
p=t/2
print("Name=",name)
print("Total=",t)
print("Percentage=",p)

if p>=80:
    print("Distinction")
elif p>=60 and p<=8
    print("First Division")
elif p>=50 and p<=60:
    print("Second Division")
elif p>=40 and p<=50:
    print("Third Division")
else:
    print("Fail")

Enter the name of Student:ramm
Enter the marks of physics:34
Enter the mark of chemistry:40
Name= ramm
Total= 74
Percentage= 37.0
Fail

Enter n = 1
Enter name=ram
Enter physics marks=1
Enter chemisrty marks=1
Enter maths marks=1
Enter english marks=1
Enter nepali marks=1
name	Physics	Chemistry	Maths	Englsih	Nepali	total	grade
Grade =  F

In [17]:
result = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter nepali = "))
    total = physics+chemistry+ math+english+nepali
    per = total/5
    if per >= 80:
        grade = 'A'
    elif per >= 60:
        grade = 'B'
    elif per >= 45:
        grade = 'C'
    else:
        grade = 'F'
    result = result + name + "\t"+str(physics) +"\t"+ str(chemistry)+"\t"+str(math)+"\t"+str(english)+"\t"+str(nepali)+"\t"+str(total)+"\t"+str(per)+"\t"+str(grade)+"\n"

print('Name\tphysics\tchemistry\tmath\tenglish\tnepali\ttotal\tper\tgrade')
print(result)

Enter n = 1
Enter name = ram
Enter physics = 1
Enter chemistry = 1
Enter math = 1
Enter english = 1
Enter nepali = 1
Name	physics	chemistry	math	english	nepali	total	per	grade
ram	1	1	1	1	1	5	1.0	F