In [ ]:
# file=open('<file_path>','<mode>')
# file.close()

In [ ]:
# with open('<file_name>','<mode>')as file:
#     <operations>

In [ ]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [1]:
#create file
try:
    file=open('new_file.txt','x')
    file.close()
except:
    print("The file is already created.")

In [2]:
# Read file

file=open('new_file.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

Hello world
Hello world
Hello world
Hello world
Hello world

<class 'str'>

In [3]:
n=int(input("Enter n="))
x.split('\n')[n-1]

Enter n=5

'Hello world'

In [4]:
with open('data.txt','w')as file:
    file.write('Hello World')

In [5]:
s=""
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name ")
    age=int(input("Enter age "))
    add=input("Enter address")
    s=s+f"{name} {age} {add}\n"
    
with open('data.txt','w')as file:
    file.write(s)

Enter n=3
Enter name Ram
Enter age 22
Enter addressDHn
Enter name Prm
Enter age 22
Enter addressKtm
Enter name Shyam
Enter age 23
Enter addressKtm

In [8]:
pwd

'C:\\Users\\DELL\\Python Porgrams'

In [6]:
#Bill
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s=s+bill
print(s)
with open('bill.txt','w')as file:
    file.write(s)

Enter the value of n=2
Enter name:Apple
Enter the price:250
Enter the quantity:2
Enter name:Mango
Enter the price:150
Enter the quantity:3
Apple 250 2 500
Mango 150 3 450

In [7]:
#csv file excel file
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    bill=f"{name},{price},{quantity},{total}\n"
    s=s+bill
print(s)
with open('bill.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter the value of n=2
Enter name:Apple
Enter the price:250
Enter the quantity:2
Enter name:Orange
Enter the price:150
Enter the quantity:3
Apple,250,2,500
Orange,150,3,450

In [8]:
import pandas as pd
df=pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    250         2    500
1  Orange    150         3    450

In [10]:
import pandas as pd
df=pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    250         2    500
1  Orange    150         3    450

In [11]:
import csv
a=[['Name','Price','Quantity','Total'],
   ['Momo',200,3,600],
   ['Coke',100,2,200]]
with open('tbill.csv','w')as file:
    x=csv.writer(file)
    x.writerows(a)

In [12]:
import csv
with open('tbill.csv','r')as file:
    reader=csv.DictReader(file)
    for i in reader:
        print(i)

{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'}
{'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}

In [13]:
#Dictionary inside list
import csv
data=[]
with open('tbill.csv','r')as file:
    reader=csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [14]:
file=open('bill.csv','r')
x=file.read()
y=x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', 'Apple,250,2,500', 'Orange,150,3,450', '']

In [15]:
all_result=[]
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 ['Apple', '250', '2', '500'],
 ['Orange', '150', '3', '450']]

In [16]:
import csv
a=['Pizza',200,4,800]
with open('tbill.csv','a')as file:
    x=csv.writer(file)
    x.writerow(a)

In [17]:
import pandas as pd
df=pd.read_csv("tbill.csv")
df

    Name  Price  Quantity  Total
0   Momo    200         3    600
1   Coke    100         2    200
2  Pizza    200         4    800