In [ ]:
# String

In [1]:
a='Hello world'
b="Hello world"
c='''Hello world'''
print(a,type(a))
print(b,type(b))
print(c,type(c))

Hello world <class 'str'>
Hello world <class 'str'>
Hello world <class 'str'>

In [2]:
# + *
a="Hello world\n"
print(a*2)

Hello world
Hello world

In [4]:
a="Hello"
b="world"
c=a+" "+b
print(c)

Hello world

In [5]:
a="Hello world"
a[0]

'H'

In [7]:
a="Hello world"
b= a[0:5]
b

'Hello'

In [9]:
a="Hello world"
b=a[0:11:2]
b

'Hlowrd'

In [10]:
a="Hello world"
b=a[10::-1]
b

'dlrow olleH'

In [11]:
a="Hello world"
b=a[::-1]
b

'dlrow olleH'

In [12]:
# String formatting
name="Ramm"
age=24
data=f"Hello my name {name}. I am {age}."
data

'Hello my name Ramm. I am 24.'

In [13]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
add=input("Enter your address:")
data=f"Hello i am {name}. I am from {add}. I'm {age} years old."
data

Enter your name:Ramm
Enter your age:24
Enter your address:Dhangadhi

"Hello i am Ramm. I am from Dhangadhi. I'm 24 years old."

In [14]:
#Bill
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s=s+bill
print(s)

Enter the value of n=2
Enter name:apple
Enter the price:200
Enter the quantity:4
Enter name:banana
Enter the price:100
Enter the quantity:2
apple 200 4 800
banana 100 2 200

In [15]:
s

'apple 200 4 800\nbanana 100 2 200\n'

In [16]:
s="Ram Shyam Hari Sita Gita Ramesh"
if "Ram" in s:
    print("YEs")
else:
    print("No")

YEs

In [17]:
s="Ram Shyam Hari Sita Gita Ramesh"
search=input("Enter s=")
if search in s:
    print("YEs")
    print(s.count(search))
else:
    print("No")

Enter s=ram
No

In [18]:
s="Ram Shyam Hari Sita Gita Ramesh"
s=s.upper()
print(s)

RAM SHYAM HARI SITA GITA RAMESH

In [19]:
s="Ram Shyam Hari Sita Gita Ramesh".lower()
search=input("Enter s=").lower()
if search in s:
    print("YEs")
    print(s.count(search))
else:
    print("No")

Enter s=ram
YEs
2

In [21]:
# Replace function
s="Ram Shyam Hari Sita Gita Ramesh"
s.replace("Hari","hari")

'Ram Shyam hari Sita Gita Ramesh'

In [22]:
s="Ram Shyam Hari Sita Gita Ramesh"
s.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']