In [ ]:
# file=open('<file_path>','<mode>')
# file.close()

In [ ]:
# with open('<file_name>','<mode>')as file:
#     <operations>

In [ ]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [1]:
#create file
try:
    file=open('new_file.txt','x')
    file.close()
except:
    print("The file is already created.")

In [2]:
# Read file

file=open('new_file.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

Hello world
Hello world
Hello world
Hello world
Hello world

<class 'str'>

In [5]:
n=int(input("Enter n="))
x.split('\n')[n-1]

Enter n=3

'3.Hello World '

In [6]:
with open('data.txt','w')as file:
    file.write('Hello World')

In [7]:
s=""
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name ")
    age=int(input("Enter age "))
    add=input("Enter address")
    s=s+f"{name} {age} {add}\n"
    
with open('data.txt','w')as file:
    file.write(s)

Enter n=2
Enter name Ram
Enter age 22
Enter addressDhangadhi
Enter name Anil
Enter age 23
Enter addressDHn

In [8]:
pwd

'C:\\Users\\DELL\\Python Porgrams'

In [10]:
#Bill
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s=s+bill
print(s)
with open('bill.txt','w')as file:
    file.write(s)

Enter the value of n=2
Enter name:apple
Enter the price:250
Enter the quantity:2
Enter name:banana
Enter the price:100
Enter the quantity:2
apple 250 2 500
banana 100 2 200

In [14]:
#csv file excel file
s=str()
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter the price:"))
    quantity=int(input("Enter the quantity:"))
    total=price*quantity
    bill=f"{name},{price},{quantity},{total}\n"
    s=s+bill
print(s)
with open('bill.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter the value of n=2
Enter name:apple
Enter the price:200
Enter the quantity:2
Enter name:banana
Enter the price:2
Enter the quantity:2
apple,200,2,400
banana,2,2,4

In [25]:
import pandas as pd
df=pd.read_csv(bill.csv)
df

AttributeError: 'str' object has no attribute 'csv'

In [15]:
import pandas as pd
df=pd.read_csv(bill1.csv)
df

NameError: name 'bill1' is not defined

In [19]:
import csv
a=[['Name','Price','Quantity','Total'],
   ['Momo',200,3,600],
   ['Coke',100,2,200]]
with open('tbill.csv','w')as file:
    x=csv.writer(file)
    x.writerows(a)

In [20]:
import csv
with open('tbill.csv','r')as file:
    reader=csv.DictReader(file)
    for i in reader:
        print(i)

{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'}
{'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}

In [21]:
#Dictionary inside list
import csv
data=[]
with open('tbill.csv','r')as file:
    reader=csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [23]:
file=open('bill.csv','r')
x=file.read()
y=x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', 'apple,200,2,400', 'banana,2,2,4', '']

In [24]:
all_result=[]
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 ['apple', '200', '2', '400'],
 ['banana', '2', '2', '4']]

In [ ]:
import csv
a=['Pizza',200,4,800]
with open('tbill.csv','a')as file:
    x=csv.writer(file)
    x.writerow(a)